body {
    overflow-x: hidden;
    padding: 0%;
    margin: 0%;
    background-color: #eff0ff;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    .navBar {
        width: 100%;
    }
    .price {
        width: 100%;
    }
}
.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .imagenContent {
        width: 100%;
        height: 400px;
    }
}
.cuotas {
    width: 100%;
    display: flex;
    justify-content:center;
    text-align: center;
    align-items: center;
    .cuota{
        margin: 5px;
    }
}

footer {
    display: flex;
    justify-content: space-between;
}
