
 nav {
     width: 100%;
     display: flex;
     justify-content: center;
 }


 .contenido {
     line-height: 0;
     z-index: 2;
     width: 100%;
     display: flex;
     justify-content: center;
 }

 .rigth .left {
     max-width: 1024px;
     margin: 10px;
 }

 .reseña>.contenedorImagen {
     margin: 10px;
 }

 .recomieda>.contenedorImagen {
     margin: 10px;
 }